In [8]:
import pandas as pd
import numpy as np
import folium

abundance_df = pd.read_csv('Final_Abundance_2008_2023.csv')
percent_df = pd.read_csv('Final_Percent_2009_2023.csv')

In [9]:
abundance_df

,Unnamed: 0,Sample_Point_(SP),Year,Latitude,Longitude,Depth,Rake_Abundance,Rake_Abundance_#,Alisma_gramineum,Benthic_Filamentous_Algae,...,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Riccia_fluitans,Spirodela_polyrhiza,Stuckenia_pectinata,Stuckenia_vaginata,Utricularia_vulgaris,Vallisneria_americana,Wolffia_columbiana,Zannichellia_palustris
0,0,1,2008,42.977652,-75.887120,0.3048,NaN,NaN,NaN,S,...,NaN,T,NaN,M,NaN,NaN,M,NaN,M,NaN
1,1,2,2008,42.977520,-75.887213,0.3048,NaN,NaN,NaN,T,...,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN
2,2,3,2008,42.977661,-75.887699,0.6096,NaN,NaN,NaN,NaN,...,NaN,S,NaN,NaN,NaN,NaN,T,NaN,T,NaN
3,3,4,2008,42.977674,-75.888337,0.6096,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,2008,42.977542,-75.889355,0.6096,NaN,NaN,NaN,NaN,...,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4857,297,300,2023,NaN,NaN,NaN,M,NaN,NaN,NaN,...,T,NaN,NaN,NaN,T,NaN,NaN,T,NaN,NaN
4858,298,301,2023,NaN,NaN,NaN,M,NaN,NaN,NaN,...,T,NaN,NaN,NaN,T,NaN,T,T,NaN,NaN
4859,299,302,2023,NaN,NaN,NaN,T,NaN,NaN,NaN,...,T,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN
4860,300,303,2023,NaN,NaN,NaN,S,NaN,NaN,NaN,...,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4861,301,304,2023,NaN,NaN,NaN,S,NaN,NaN,NaN,...,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
percent_df

,Unnamed: 0,Sample_Point_(SP),Year,Date,Rake_toss_#,Latitude,Longitude,Depth,Rake_Abundance,PERCENT,...,Riccia_fluitans,Spirodela_polyrhiza,Stuckenia_pectinata,Stuckenia_vaginata,Utricularia_vulgaris,Vallisneria_americana,Wolffia_columbiana,Zannichellia_palustris,Zosterella_dubia,Abundance_calcs
0,0,1,2009,NaN,1.0,42.977680,75.886960,0.3,D,100.05,...,NaN,0.01,NaN,NaN,NaN,NaN,0.01,NaN,NaN,NaN
1,1,1,2009,NaN,2.0,42.977680,75.886960,NaN,D,100.01,...,NaN,0.01,NaN,NaN,6.0,NaN,1.00,NaN,1.0,NaN
2,2,2,2009,NaN,1.0,42.977520,75.887213,0.5,D,100.08,...,NaN,0.01,1.0,NaN,NaN,1.0,0.01,NaN,NaN,NaN
3,3,2,2009,NaN,2.0,42.977520,75.887213,NaN,D,100.04,...,NaN,0.01,NaN,NaN,2.0,2.0,0.01,NaN,1.0,NaN
4,4,3,2009,NaN,1.0,42.977661,75.887699,1.0,M,100.03,...,NaN,0.01,NaN,NaN,NaN,NaN,0.01,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9113,599,302,2023,2023-08-31,2.0,42.961837,-75.872214,2.1,T,NaN,...,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN
9114,600,303,2023,2023-08-08,1.0,42.948490,-75.866480,2.6,S,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9115,601,303,2023,2023-08-08,2.0,42.948490,-75.866480,2.6,S,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9116,602,304,2023,2023-08-08,1.0,42.948360,-75.866510,2.8,O,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9117,603,304,2023,2023-08-08,2.0,42.948360,-75.866510,2.8,S,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
lake_map_2008 = folium.Map(location=[42.950253, -75.870825], zoom_start=13)
# lake_map_2008

In [12]:
abundance_2008 = abundance_df.loc[abundance_df.Year == 2008]
abundance_2008

,Unnamed: 0,Sample_Point_(SP),Year,Latitude,Longitude,Depth,Rake_Abundance,Rake_Abundance_#,Alisma_gramineum,Benthic_Filamentous_Algae,...,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Riccia_fluitans,Spirodela_polyrhiza,Stuckenia_pectinata,Stuckenia_vaginata,Utricularia_vulgaris,Vallisneria_americana,Wolffia_columbiana,Zannichellia_palustris
0,0,1,2008,42.977652,-75.887120,0.3048,NaN,NaN,NaN,S,...,NaN,T,NaN,M,NaN,NaN,M,NaN,M,NaN
1,1,2,2008,42.977520,-75.887213,0.3048,NaN,NaN,NaN,T,...,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN
2,2,3,2008,42.977661,-75.887699,0.6096,NaN,NaN,NaN,NaN,...,NaN,S,NaN,NaN,NaN,NaN,T,NaN,T,NaN
3,3,4,2008,42.977674,-75.888337,0.6096,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,5,2008,42.977542,-75.889355,0.6096,NaN,NaN,NaN,NaN,...,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,297,298,2008,42.959125,-75.870077,0.6096,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN
298,298,299,2008,42.959650,-75.870627,0.9144,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN
299,299,300,2008,42.960420,-75.871387,0.9144,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN
300,300,301,2008,42.961219,-75.871882,0.9144,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
301,301,302,2008,42.961837,-75.872214,1.2192,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,T,NaN,NaN

In [13]:
abundance_2008.columns

Index(['Unnamed: 0', 'Sample_Point_(SP)', 'Year', 'Latitude', 'Longitude',
       'Depth', 'Rake_Abundance', 'Rake_Abundance_#', 'Alisma_gramineum',
       'Benthic_Filamentous_Algae', 'Callitriche_hermaphroditica',
       'Ceratophyllum_demersum', 'Chara_vulgaris', 'Elodea_sp.',
       'Floating_Filamentous_Algae', 'Fontinalis_sp.', 'Heteranthera_dubia',
       'Hydrocharis_morsus-ranae', 'Hypericum_ellipticum', 'Lemna_minor',
       'Lemna_trisulca', 'Megalodonta_beckii', 'Myriophyllum_sibiricum',
       'Myriophyllum_spicatum', 'Najas_flexilis', 'Najas_guadalupensis',
       'Nitella_flexilis', 'Nitellopsis_obtusa', 'Nuphar_variegata',
       'Nymphaea_odorata', 'Pithophora_sp.', 'Polygonum_amphibium',
       'Potamogeton_amplifolius', 'Potamogeton_crispus',
       'Potamogeton_crispus_turions', 'Potamogeton_foliosus',
       'Potamogeton_gramineus', 'Potamogeton_illinoensis',
       'Potamogeton_pectinatus', 'Potamogeton_praelongus',
       'Potamogeton_pusillus', 'Potamogeton_richardsonii',
       'Potamogeton_zosteriformis', 'Ranunculus_trichophyllus',
       'Riccia_fluitans', 'Spirodela_polyrhiza', 'Stuckenia_pectinata',
       'Stuckenia_vaginata', 'Utricularia_vulgaris', 'Vallisneria_americana',
       'Wolffia_columbiana', 'Zannichellia_palustris'],
      dtype='object')

In [15]:
for (index, col) in enumerate(abundance_2008.columns):
  print(index, col)

0 Unnamed: 0
1 Sample_Point_(SP)
2 Year
3 Latitude
4 Longitude
5 Depth
6 Rake_Abundance
7 Rake_Abundance_#
8 Alisma_gramineum
9 Benthic_Filamentous_Algae
10 Callitriche_hermaphroditica
11 Ceratophyllum_demersum
12 Chara_vulgaris
13 Elodea_sp.
14 Floating_Filamentous_Algae
15 Fontinalis_sp.
16 Heteranthera_dubia
17 Hydrocharis_morsus-ranae
18 Hypericum_ellipticum
19 Lemna_minor
20 Lemna_trisulca
21 Megalodonta_beckii
22 Myriophyllum_sibiricum
23 Myriophyllum_spicatum
24 Najas_flexilis
25 Najas_guadalupensis
26 Nitella_flexilis
27 Nitellopsis_obtusa
28 Nuphar_variegata
29 Nymphaea_odorata
30 Pithophora_sp.
31 Polygonum_amphibium
32 Potamogeton_amplifolius
33 Potamogeton_crispus
34 Potamogeton_crispus_turions
35 Potamogeton_foliosus
36 Potamogeton_gramineus
37 Potamogeton_illinoensis
38 Potamogeton_pectinatus
39 Potamogeton_praelongus
40 Potamogeton_pusillus
41 Potamogeton_richardsonii
42 Potamogeton_zosteriformis
43 Ranunculus_trichophyllus
44 Riccia_fluitans
45 Spirodela_polyrhiza
46 Stuckenia_pectinata
47 Stuckenia_vaginata
48 Utricularia_vulgaris
49 Vallisneria_americana
50 Wolffia_columbiana
51 Zannichellia_palustris

In [19]:
plant_names = list(abundance_2008.columns[8:])
plant_names

['Alisma_gramineum',
 'Benthic_Filamentous_Algae',
 'Callitriche_hermaphroditica',
 'Ceratophyllum_demersum',
 'Chara_vulgaris',
 'Elodea_sp.',
 'Floating_Filamentous_Algae',
 'Fontinalis_sp.',
 'Heteranthera_dubia',
 'Hydrocharis_morsus-ranae',
 'Hypericum_ellipticum',
 'Lemna_minor',
 'Lemna_trisulca',
 'Megalodonta_beckii',
 'Myriophyllum_sibiricum',
 'Myriophyllum_spicatum',
 'Najas_flexilis',
 'Najas_guadalupensis',
 'Nitella_flexilis',
 'Nitellopsis_obtusa',
 'Nuphar_variegata',
 'Nymphaea_odorata',
 'Pithophora_sp.',
 'Polygonum_amphibium',
 'Potamogeton_amplifolius',
 'Potamogeton_crispus',
 'Potamogeton_crispus_turions',
 'Potamogeton_foliosus',
 'Potamogeton_gramineus',
 'Potamogeton_illinoensis',
 'Potamogeton_pectinatus',
 'Potamogeton_praelongus',
 'Potamogeton_pusillus',
 'Potamogeton_richardsonii',
 'Potamogeton_zosteriformis',
 'Ranunculus_trichophyllus',
 'Riccia_fluitans',
 'Spirodela_polyrhiza',
 'Stuckenia_pectinata',
 'Stuckenia_vaginata',
 'Utricularia_vulgaris',
 'Vallisneria_americana',
 'Wolffia_columbiana',
 'Zannichellia_palustris']

In [22]:
# none, trace, sparse, moderate, dense
scale = ['N', 'T', 'S', 'M', 'D'] # use index for number value

In [23]:
for plant in plant_names:
  abundance_2008[plant] = abundance_2008[plant].fillna('N')
abundance_2008

/var/folders/pt/0jkzh_kd059fycr5pcmnh7z40000gn/T/ipykernel_82112/2484959331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  abundance_2008[plant] = abundance_2008[plant].fillna('N')

,Unnamed: 0,Sample_Point_(SP),Year,Latitude,Longitude,Depth,Rake_Abundance,Rake_Abundance_#,Alisma_gramineum,Benthic_Filamentous_Algae,...,Potamogeton_zosteriformis,Ranunculus_trichophyllus,Riccia_fluitans,Spirodela_polyrhiza,Stuckenia_pectinata,Stuckenia_vaginata,Utricularia_vulgaris,Vallisneria_americana,Wolffia_columbiana,Zannichellia_palustris
0,0,1,2008,42.977652,-75.887120,0.3048,NaN,NaN,N,S,...,N,T,N,M,N,N,M,N,M,N
1,1,2,2008,42.977520,-75.887213,0.3048,NaN,NaN,N,T,...,N,T,N,N,N,N,N,N,S,N
2,2,3,2008,42.977661,-75.887699,0.6096,NaN,NaN,N,N,...,N,S,N,N,N,N,T,N,T,N
3,3,4,2008,42.977674,-75.888337,0.6096,NaN,NaN,N,N,...,N,N,N,N,N,N,N,N,N,N
4,4,5,2008,42.977542,-75.889355,0.6096,NaN,NaN,N,N,...,N,S,N,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,297,298,2008,42.959125,-75.870077,0.6096,NaN,NaN,N,N,...,N,N,N,N,N,N,N,S,N,N
298,298,299,2008,42.959650,-75.870627,0.9144,NaN,NaN,N,N,...,N,N,N,N,N,N,N,S,N,N
299,299,300,2008,42.960420,-75.871387,0.9144,NaN,NaN,N,N,...,N,N,N,N,N,N,N,S,N,N
300,300,301,2008,42.961219,-75.871882,0.9144,NaN,NaN,N,N,...,N,N,N,N,N,N,N,N,N,N
301,301,302,2008,42.961837,-75.872214,1.2192,NaN,NaN,N,N,...,N,N,N,N,N,N,N,T,N,N